{% extends "layaout.html"%}

{% block content %} 
<h1>Consulta medica</h1>
<div>
    <h3>Ingrese sus datos y sintomas</h3>
    <form class="row g-3 needs-validation"  action="/realizar_diagnostico" method="post">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Nombres</label>
          <input type="text" class="form-control" name="Nombre" id="validationCustom01" value="Mark" required >
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Apellidos</label>
          <input type="text" class="form-control" name="Apellido" id="validationCustom02" value="Otto" required >
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Correo electrónico</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" name="Correo" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required >
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom03" class="form-label">Edad</label>
          <input type="text" class="form-control" name="Edad" id="validationCustom03" required >
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Género</label>
          <select class="form-select" name="Género" id="validationCustom04" required >
            <option selected disabled value=""></option>
            <option>Male</option>
            <option>Female</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Fiebre</label>
          <select class="form-select" name="Fiebre" id="validationCustom05" required >
            <option selected disabled value=""></option>
            <option>Yes</option>
            <option>No</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Tos</label>
            <select class="form-select" name="Tos" id="validationCustom06" required >
              <option selected disabled value=""></option>
              <option>Yes</option>
              <option>No</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Fatiga</label>
            <select class="form-select" name="Fatiga"id="validationCustom06" required >
              <option selected disabled value=""></option>
              <option>Yes</option>
              <option>No</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Dificultad para respirar</label>
            <select class="form-select" name="Dif_res" id="validationCustom07" required >
              <option selected disabled value=""></option>
              <option>Yes</option>
              <option>No</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Presión arterial</label>
            <select class="form-select" name="Pre_art" id="validationCustom08" required >
              <option selected disabled value=""></option>
              <option>Low</option>
              <option>Normal</option>
              <option>High</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Nivel de colesterol</label>
            <select class="form-select" name="Niv_Col" id="validationCustom09" required >
              <option selected disabled value=""></option>
              <option>Low</option>
              <option>Normal</option>
              <option>High</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
        </div>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
      </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              ¿Usted autoriza el tratamiento de sus datos?
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Diagnóstico</button>
        </div>
      </form>
</div>
{% endblock %}
