{% extends "layaout.html"%}

{% block content %} 
<h1>IA para el diagnóstico médico mejorado</h1>
<p>Este es un proyecto aplicado denominado "AI para Diagnóstico Médico Mejorado" 
   el cual nos encontramos con la necesidad de investigar, analizar, y desarrollar
   un sistema de asistencia médica tomando con base la inteligencia artificial (IA)
   y poder mejorar la precisión y eficiencia en el diagnóstico médico. Se emplearán 
   técnicas de Machine Learning por medio de entrenamiento de redes neuronales, 
   para analizar datos médicos y síntomas del paciente. El objetivo es reducir errores 
   de diagnóstico y agilizar la entrega de resultados, beneficiando tanto a profesionales 
   de la salud como a pacientes. Se prevé un modelo de Machine Learning para realizar el 
   análisis de datos y posterior entrega de resultados del diagnóstico, colaboraciones 
   con instituciones médicas y/o profesionales de la salud.</p>   
    
{% endblock %}
